.btn {
  &:link,
  &:visited {
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.2s;
  }

  &--blue {
    background-color: $color-primary-light-2;
    color: $color-white;
    box-shadow: 0 0.7rem 1rem rgba($color-primary-light-2, 0.25);
  }

  &--yellow {
    background-color: $color-secondary;
    color: $color-black;
    box-shadow: 0 0.7rem 1rem rgba($color-black, 0.25);
    font-size: 3.6rem;
    font-weight: 600;
  }

  &:hover {
    filter: brightness(1.1);
  }
}
