.covid-about {
  &__illustration {
    grid-column: 1/2;

    @media only screen and (max-width: 68.75em) {
      grid-column: 1/ -1;
    }
  }

  &__text-box {
    grid-column: 2/-1;

    display: grid;
    row-gap: 2rem;

    @media only screen and (max-width: 68.75em) {
      grid-column: 1/ -1;
      justify-items: center;

      h2 {
        text-align: center;
      }
    }
  }

  &__list {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    row-gap: 2.5rem;
    column-gap: 2rem;

    @media only screen and (max-width: 68.75em) {
      row-gap: 1rem;
      max-width: 60%;
    }
  }

  &__number {
    display: inline-block;
    color: $color-secondary;
    font-size: 4.5rem;
    font-weight: 700;
  }

  &__text {
    font-size: 1.7rem;
  }

  &__img {
    max-width: 60rem;
  }
}
