.covid-info {
  &__information {
    display: flex;
    gap: 8rem;
    align-items: center;
  }

  &__icon-item {
    padding: 4rem 0;
    display: flex;
    gap: 4rem;
    text-align: center;
    @media only screen and (max-width: 68.75em) {
      flex-direction: column;
    }
  }

  &__icon-box {
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.25);
    padding: 2rem 4.2rem 2.5rem;

    @media only screen and (max-width: 43.75em) {
      width: 30rem;
    }
  }

  &__text {
    text-align: center;
    max-width: 48%;

    @media only screen and (max-width: 43.75em) {
      max-width: 95%;
    }
  }

  &__img {
    max-width: 100%;

    img {
      width: 100%;
    }

    @media only screen and (max-width: 43.75em) {
      display: none;
    }
  }
}
