.get-info {
  padding: 20rem 50rem;
  background-color: $color-primary-light-1;
  grid-column: full-start / full-end;

  display: grid;
  justify-items: center;
  row-gap: 2rem;

  @media only screen and (max-width: 81.25em) {
    padding: 20rem 30rem;
  }

  @media only screen and (max-width: 62.5em) {
    padding: 20rem 15rem;
  }

  @media only screen and (max-width: 43.75em) {
    padding: 20rem 5rem;
    text-align: center;
  }

  h2 {
    justify-self: start;
  }
}
