.information {
  background-color: $color-white;
  grid-column: center-start / center-end;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.25);

  display: grid;
  transform: translateY(-10rem);

  &__title {
    padding: 2.5rem 2rem 1rem;
    color: $color-primary;
    display: flex;
    gap: 2rem;
    align-items: center;
    border-bottom: 1px solid rgba($color-black, 0.25);
  }

  &__table {
    padding: 5rem 10rem 8rem 4rem;
    display: grid;
    row-gap: 6rem;

    @media only screen and (max-width: 43.75em) {
      padding: 4rem;
      row-gap: 3rem;
      text-align: center;
    }
  }

  &__table-data {
    grid-column: 1/-1;
    display: grid;
    column-gap: 5rem;

    font-size: 2rem;

    grid-template-columns:
      repeat(2, minmax(5rem, 1fr)) minmax(5rem, 3fr)
      repeat(2, minmax(5rem, 1fr));
    column-gap: 8rem;
    justify-items: center;

    @media only screen and (max-width: 43.75em) {
      grid-template-columns: minmax(5rem, 1fr);
      padding: 1rem 0;
      row-gap: 1rem;

      border-bottom: 1px solid $color-black;

      p:nth-child(1) {
        display: none;
      }

      p:nth-child(2) {
        font-weight: 700;
        color: $color-primary;
      }
    }

    &:first-of-type {
      color: $color-primary;
      font-size: 2.2rem;
      font-weight: 600;

      @media only screen and (max-width: 43.75em) {
        display: none;
      }
    }
  }
}
