.main {
  grid-column: full-start / full-end;
  background-color: $color-background;

  display: grid;
  grid-template-columns:
    [main-full-start] minmax(5rem, 1fr)
    [main-center-start]repeat(
      10,
      [main-col-start] minmax(min-content, 14rem) [main-col-end]
    )
    [main-center-end]
    minmax(5rem, 1fr) [main-full-end];
}
