*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #3a3d46;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[10] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.header {
  padding: 10rem;
  background-color: #f3fbff;
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: minmax(5rem, 1fr) (minmax(min-content, 12rem))[10] minmax(5rem, 1fr);
      grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(-webkit-min-content, 12rem)) minmax(5rem, 1fr);
      grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(min-content, 12rem)) minmax(5rem, 1fr);
}

.header__text-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  display: -ms-grid;
  display: grid;
  row-gap: 3rem;
  justify-items: start;
}

.header__text-box p {
  max-width: 85%;
}

.header__illustration {
  grid-column: 8 / -2;
}

.main {
  grid-column: full-start / full-end;
  background-color: F8F8FD;
  height: 100rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [main-full-start] minmax(5rem, 1fr) [main-center-start] ([main-col-start] minmax(min-content, 14rem) [main-col-end])[10] [main-center-end] minmax(5rem, 1fr) [main-full-end];
      grid-template-columns: [main-full-start] minmax(5rem, 1fr) [main-center-start] repeat(10, [main-col-start] minmax(-webkit-min-content, 14rem) [main-col-end]) [main-center-end] minmax(5rem, 1fr) [main-full-end];
      grid-template-columns: [main-full-start] minmax(5rem, 1fr) [main-center-start] repeat(10, [main-col-start] minmax(min-content, 14rem) [main-col-end]) [main-center-end] minmax(5rem, 1fr) [main-full-end];
}

.section-covid-about {
  margin-bottom: 10rem;
  padding: 5rem 10rem;
  background-color: #f3fbff;
  grid-column: main-full-start/main-full-end;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: [illustration-start] min-content [illustration-end text-start] minmax(min-content, 50rem) [text-end];
      grid-template-columns: [illustration-start] -webkit-min-content [illustration-end text-start] minmax(-webkit-min-content, 50rem) [text-end];
      grid-template-columns: [illustration-start] min-content [illustration-end text-start] minmax(min-content, 50rem) [text-end];
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-1 {
  font-size: 6.2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.2;
}

.heading-1--blue {
  color: #164dbc;
}

.heading-1--yellow {
  color: #fdcc27;
}

.paragraph {
  font-weight: 400;
}

.heading-2 {
  font-size: 3.6rem;
  color: #164dbc;
}

.btn:link, .btn:visited {
  padding: 1rem 2rem;
  font-size: 2.2rem;
  text-decoration: none;
  background-color: #057bb2;
  color: #fff;
  border-radius: 8px;
}

.covid-about__illustration {
  grid-column: illustration-start / illustration-end;
}

.covid-about__text-box {
  grid-column: text-start / text-end;
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
}

.covid-about__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
}

.covid-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.covid-about__number {
  display: inline-block;
  color: #fdcc27;
  font-size: 4.5rem;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */